Name: Ratna Kumari


---


Email: kumari92900@gmail.com

Guided Assignment:10th-August-2022

1)Write a code that takes in a number x from the user and creates a 1x20 array with random numbers ranging from 0 to x

In [2]:
import numpy as np
x = np.random.randint(0,5,(1,20))
x

array([[4, 3, 1, 2, 0, 3, 4, 0, 0, 3, 4, 4, 0, 3, 1, 4, 3, 2, 1, 4]])

2)Write a code that creates a 4x5 array inwhich numbers ranging between 300 and 500 such that the difference between elements is 10

In [3]:
import numpy as np
array = np.arange(300, 500, 10)
array = array.reshape(4,5)
print (array)

[[300 310 320 330 340]
 [350 360 370 380 390]
 [400 410 420 430 440]
 [450 460 470 480 490]]

3)Write a code that creates a 20x20 numpy array of random values that ranges from -1000 to 1000 and obtain the maximum, minimum, and mean values

In [4]:
import numpy as np
y = np.random.randint(-1000,1000,(20,20))
print(np.max(y))
print(np.min(y))
print(np.mean(y))

986
-992
6.05

 4)In the following matrix, replace the last row with -1 Multiply the 2x2 matrix in the upper right corner by 2 X = [2 30 20 -2 -4] [3 4 40 -3 -2] [-3 4 -6 90 10] [25 45 34 22 12] [13 24 22 32 37]

In [5]:
X =np.array([[2,30,20,-2,-4], 
[3, 4, 40, -3, -2], 
[-3, 4, -6, 90, 10],
[25, 45, 34, 22, 12],
[13, 24, 22, 32, 37]])
X[4]=-1
print(X)

print(X[:2,3:]*2)

[[ 2 30 20 -2 -4]
 [ 3  4 40 -3 -2]
 [-3  4 -6 90 10]
 [25 45 34 22 12]
 [-1 -1 -1 -1 -1]]
[[-4 -8]
 [-6 -4]]

5) In the following matrix, replace negative elements by 0 and replace odd elements with 25 X = [2 30 20 -2 -4] [3 4 40 -3 -2] [-3 4 -6 90 10] [25 45 34 22 12] [13 24 22 32 37]

In [6]:
import numpy as np
X = np.array([[2,30,20,-2,-4],[3,4,40,-3,-2], [-3, 4 ,-6, 90, 10] ,[25 ,45 ,34, 22 ,12], [13 ,24, 22 ,32, 37]])
n = 0 
r = 0

print(np.where( X % 2 == 1,25,X))
print(np.where(X < n,r,X))

[[ 2 30 20 -2 -4]
 [25  4 40 25 -2]
 [25  4 -6 90 10]
 [25 25 34 22 12]
 [25 24 22 32 25]]
[[ 2 30 20  0  0]
 [ 3  4 40  0  0]
 [ 0  4  0 90 10]
 [25 45 34 22 12]
 [13 24 22 32 37]]